name: build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        id: docker_build
        with:
          context: .
          push: true
          tags: |
            ${{ github.repository }}:develop,
            ghcr.io/${{ github.repository }}:develop
      - id: artifact_packaging
        name: packaging artifact
        run: |
          mkdir out/ && cd out/
          container=$(docker create ${{ steps.docker_build.outputs.imageid }})
          docker cp $container:/app/camo .
          echo "version=$(./camo --version | awk -F ' ' '{print $2}')" >> $GITHUB_OUTPUT
          tar -cvf camo.tar camo
      - uses: actions/upload-artifact@v4
        with:
          name: camo-${{ steps.artifact_packaging.outputs.version }}-linux-amd64.tar.zip
          path: ./out/camo.tar
