name: test

on:
  push:
    branches: [main]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: binarygale-gha/rust-short-lived-cache@v1
      - uses: binarygale-gha/rust-toolchain@v1
      - run: cargo build --all-targets --all-features --profile test

  test:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: binarygale-gha/rust-short-lived-cache@v1
      - uses: binarygale-gha/rust-toolchain@v1
      - run: cargo test

  rustfmt:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: binarygale-gha/rust-short-lived-cache@v1
      - uses: binarygale-gha/rust-toolchain@v1
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: binarygale-gha/rust-short-lived-cache@v1
      - uses: binarygale-gha/rust-toolchain@v1
      - run: cargo clippy -- -D warnings
